li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #a90000;
    color: white;
}

.navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }

.bg-red {
    background-color: rgba(134, 2, 2, 0.92);
}
.navbar-header {
        float: none;
    }

    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        float:initial;
    }
    .navbar li {
        float: inherit;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }

    .justify-content-end{
        text-align: end;
    }

.btn {
    background-color: #a90000;
}

    .btn:hover {
        background-color: #cf1515
    }